* {
	margin: 0;
	padding: 0;
    color: #000;
    font-family: Verdana;
    font-size: x-small;
}
html, body {
       background: #555;
       color: #fff;
}

body {
  margin: 0px;
  padding: 10px;
  background: #555;
}

/* Layout
*******************************************************************************/

#page {
  width: 800px;
  margin: 0px auto;
  padding: 5px;
  background: #fff;
}

#header {
  height: 135px;
  margin: 0px 0px 5px 0px;
  padding: 0px;
  background: #000000 url(images/header.jpg) no-repeat left;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
}

#header h1 {
  display: none;
}

#content {
  float: left;
  width: 641px;
  background: #eee;
  border: 1px #bbb solid;
}

#sidebar {
/*	background: #696969 url(images/sb-bg.gif) repeat-y;
	color: #fff;
	float: left;
	font-size: .9em;
	margin: 0 0 4px 4px;
	padding: 0;
	width: 199px;*/
  float: right;
  width: 150px;
  background: #ddd;
  border: 1px #bbb solid;
  border-bottom: 1px #bbb solid;
}

#sidebar #login_box {
  display: none;
}

#sidebar .box #sidebar_blurb {
  display: none;
}


#sidebar #sidebar_box .sidebar_navigation .box, #sidebar #sidebar_box .box {
  padding: 5px;
}

#sidebar #sidebar_box .sidebar_navigation .box h3, #sidebar #sidebar_box .box h3 {
  margin: 0;
  text-transform: none;
  padding: 0;
}

#sidebar #sidebar_box .sidebar_navigation .box p {
  margin: 0;
  padding: 0;
}

#footer {
/*	background: #696969 url(images/ft-top.gif) no-repeat;*/
	color: #aaa;
	font-size: .8em;
/*    margin-left: 203px;*/
	text-align: center;
	width: 100%; 
    clear: both;
}

#footer #logos {
  display: none;
}

#error { 
    background: #fdd; 
    color: #f00; 
    font-weight: bold; 
    padding: .5em 1em .5em 1em;
}

.warning { 
    background: #ffb; 
    color: #330; 
    font-weight: bold; 
    padding: .5em 1em .5em 1em;
}

.message { 
    background: #dfd; 
    color: #080; 
    font-weight: bold; 
    padding: .5em 1em .5em 1em; 
}

/* General
*******************************************************************************/


h1 { 
     font-family: "cmr10", "Lucida Grande", "Century Gothic", Verdana, Arial, Helvetica, sans-serif;
 }


.post_title h2 {
	color: #000;
    font-size: small;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    font-family: Verdana;
/*	font-family: "Lucida Grande", "Century Gothic", Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;*/
}

.post_title p { 
                color: #fff;
                }
h3,
h4,
h5,
h6 {
	color: #777;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	margin: 1em 0;
}
h4 {
	font-size: 1.2em;
}
h5 {
	font-size: 1em;
}
h6 {
	font-size: 1em;
	font-style: italic;
}
a {
	color: #0a78cb;
}

h1 a,
h2 a {
	background: none;
	border: none;
	color: #fff;
	text-decoration: none;
}
h1 a:hover,
h2 a:hover {
	background: none;
	border: none;
	color: #c2e5ff;
	text-decoration: none;
}
img {
	border: none;
	max-width: 501px;
}
p,
ul,
ol,
dl
{
	margin: 1em 0;
}
ul ul,
ol ol {
	margin: 0;
}
li {
	list-style-position: inside;
}
li li {
	margin: 0 0 0 1em;
}
ul li {
	background: url(images/blt-01.gif) no-repeat 0 .2em;
	list-style: none;
	padding: 0 0 0 16px;
}
blockquote {
	background: #f5f5f5;
	border: 1px solid #eee;
	font-style: italic;
	margin: 1em;
	padding: 0 1em;
}
code {
	white-space: pre;
	background: #c2e5ff;
}
pre {
        white-space: pre;
	background: #0a0a0a;
	color: #cccccc;
	font-family: monospace;
        font-size: 93%;
	border: 1px solid #555555;
	overflow: auto;
	padding: 10px;
	width: 479px;
}
input,
textarea {
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
}

/* Header
*******************************************************************************/

h1 {
	bottom: 50%;
	font-size: 2.8em;
	margin: 0 0 5px 40px;
	position: absolute;
}
#header small {
	color: #c2e5ff;
	font-size: .9em;
	margin: 5px 0 0 40px;
	position: absolute;
	top: 50%;
}

/* Posts
*******************************************************************************/

.mini_body { 
  padding: 0;
 }

.mini_body .more { 
                   text-align: right;
 }


.post, .mini_post {
	color: #444;
    padding: 5px;
	width: 100%;
}

.post .article_body {
   padding: 0;
}

.post .article_body p, .mini_body p {
  margin: 5px 10px 0 0;
}

.post_title {
    color: #000;
}

.mini_post_title {
  color: #000000;
  font-family: Verdana;
  font-size: small;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

h2 { 
	font-size: 2.2em;

 }
.post_title p, .mini_post_title p { 
                padding: 0; margin: 0;
 }

.post_info
 {
  margin: 0;
  color: #555555;
  font-size: x-small;
}

.post_info p { 
               margin: 0;
               padding: 0;
               text-decoration: none;
               color: #555;
 }

div.post_extrainfo {
  border-bottom: 1px dotted #bbb;
  width: 630px;
}


.last_modified { 
                 display: none;
                 font-size: 10px;
 }



#comments .comments_header, #comments .after { 
   background: none;
                         
 }

.post_links {
/*              float: right;
              text-align: right;
              padding-bottom: 0;
              margin-top: -.3em;
              width: 20em;*/
}

/*.comment { 
   background-color: #eeffff;
 }*/

.comment_header p.title {  margin: 0; padding-left: 3px; color: #fff; font-weight: bold; background-color: #1381d4; }
.comment_header p.info { margin: 0; padding-left: 2px; color: #000; font-weight: bold; font-size: 80%; background-color: #c2e5ff;
 }
.comment_footer{  margin: 0; padding-left: 3px; font-size: 80%; font-weight: bold;}

/* search */
.search_results { 
    padding: 2em;
/*   background: url(images/mini-top.gif) no-repeat 100% 0%;*/
 }

.after { 
/*   background: url(images/mn-bottom.gif) no-repeat 0 100%;*/
 }

#nav_footer p { 
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: -1em;
}

#nav_footer { 
  margin-top: -1em;
  text-align: center;
}
.comments_header { 
   padding-top: .1em;
}

.comments_header p {
                     font-size: 10px;
                     padding-left: 2em;
                     padding-right: 2em;
                     margin-bottom: -1em;
                     text-align: center;
 }
#post_comment, #comments, #login, #feeds, #users, #tag_cloud { 
       padding: 2em;
/*   background: url(images/mini-top.gif) no-repeat 100% 0%;*/
 }


#button {
/*	background: #0a78cb url(images/lb-top.gif) no-repeat 0 -2px;*/
	border: 2px solid #0a78cb;
	color: #fff;
	font-weight: bold;
	padding: 3px;
}

/* Side Bar
*******************************************************************************/

#sidebar h3 {
	display: block;
	font-weight: bold;
	margin: 0 0 5px 0;
    font-size: 10px;
    color: #000;
}
#sidebar .box {
/*	background: url(images/sb-bottom.gif) no-repeat 0 100%;*/
/*        padding-bottom: 15px;*/
}

#sidebar ul,
#sidebar li {
	background: none;
	list-style: none;
	margin: 0;
	padding: 0;
}

#sidebar a, #sidebar b {
	border: none;
	color: #000;
}

#sidebar li a, #sidebar li b {
	display: block;
	padding: 0;
	border: none;
	width: 100%;
	overflow: hidden;
}

#sidebar p { 
        width: 100%;
        overflow: hidden;
        padding: 6px 15px 5px 15px;
 }
#sidebar li a:hover, #sidebar li b {
/*	background: #fff url(images/sb-a-bg.gif) repeat-y 0 50%;*/
	color: #2392e4;
}

#sidebar li a b {
    margin: -6px -15px;
}

/* Footer */

#footer p {
	font: 8px;
    font-weight: bold;
	padding-top: 1em;
	text-transform: uppercase;
}
#footer a {
	border-color: #888;
	color: #ccc;
}

/* Link icons
*******************************************************************************/

.link-ico {
	border: none;
	display: inline-table;
	position: relative;
	padding: 0;
	top: 5px;
	width: 17px;
}
.link-ico span {
	background-color: #fff;
	background-repeat: no-repeat;
	display: table-cell;
	height: 1.5em;
	width: 17px;
}
#sidebar .link-ico {
	padding: 0;
	width: 19px;
}
#sidebar .link-ico span {
	background-color: transparent;
	width: 19px;
}
#commentList .author-details .link-ico span {
	background-color: #f5f5f5;
}
.meta .link-ico span {
	background-color: #c2e5ff;
}
.ico-feed {
	background-image: url(images/ico-feed.gif);
}
.ico-external {
	background-image: url(images/ico-external.gif);
}

/* Fixes
*******************************************************************************/

#content textarea, #content input[type=text] {
  width: 481px;
  }

