[% FOREACH feed = feeds %]
<h5>[% feed.name | html %]</h5>
<ul class="sidebar_feed_entries">
[% FOREACH entry = feed.entries %]
   <li><a href="[% entry.link | html %]">   
      [% entry.title | html %]
   </a></li>
[% END %]
</ul>
[% END %]
