<div id="login_box" class="box">
     <h5>Login</h5>
     Not logged in.  <a href="[% c.uri_for("/login") %]">Log in</a>.
</div>

<script type="text/javascript">
// <![CDATA[
//  Jemplate.process('logged_in_as.tt', '[% c.uri_for('/users/current') %]', '#login_box');
// ]]>
</script>
